<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>Basic Table</h2>
        <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>            
        <table class="table table-bordered">
          <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <tr class="active">
                <td>Default</td>
                <td>Defaultson</td>
                <td>def@somemail.com</td>
              </tr>      
              <tr class="success">
                <td>Success</td>
                <td>Doe</td>
                <td>john@example.com</td>
              </tr>
              <tr class="danger">
                <td>Danger</td>
                <td>Moe</td>
                <td>mary@example.com</td>
              </tr>
              <tr class="info">
                <td>Info</td>
                <td>Dooley</td>
                <td>july@example.com</td>
              </tr>
              <tr class="warning">
                <td>Warning</td>
                <td>Refs</td>
                <td>bo@example.com</td>
              </tr>
              <tr class="active">
                <td>Active</td>
                <td>Activeson</td>
                <td class="table-action">
                    <a href="#"><i class="align-middle" data-feather="edit-2"></i></a>
                    <a href="#"><i class="align-middle" data-feather="trash"></i></a>
                </td>
              </tr>
              <th style="width:50%;">Name</th>
											<th style="width:25%">D.No</th>
                                            <th style="width:25%">mail</th>
                                            <th style="width:25%">Date of Birth</th>
                                            <th style="width:25%">departments</th>
                                            <th style="width:25%">Phone Number</th>
											<th style="width:100%">Status</th>
											<th>Actions</th>
              <th>#</th>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Age</th>
              <th>City</th>
              <th>Country</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Anna</td>
              <td>Pitt</td>
              <td>35</td>
              <td>New York</td>
              <td>USA</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>

<div class="container">
  <h2>Input Sizing</h2>
  <p>The form below shows input elements with different heights using .input-lg and .input-sm:</p>
  <form>
    <div class="form-group">
      <label for="inputdefault">Default input</label>
      <input class="form-control" id="inputdefault" type="text">
    </div>
    <div class="form-group">
      <label for="inputlg">input-lg</label>
      <input class="form-control input-lg" id="inputlg" type="text">
    </div>
    <div class="form-group">
      <label for="inputsm">input-sm</label>
      <input class="form-control input-sm" id="inputsm" type="text">
    </div>
    <div class="form-group">
      <label for="sel1">Default select list</label>
      <select class="form-control" id="sel1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    <div class="form-group">
      <label for="sel2">input-lg</label>
      <select class="form-control input-lg" id="sel2">
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
    </div>

    
    <div class="form-check">
      <label class="form-check-label" for="check2">
        <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">Option 2
      </label>
    </div>



    <div class="form-group">
      <label for="sel3">input-sm</label>
      <select class="form-control input-sm" id="sel3">
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
    </div>
  </form>
</div>
<span class="badge badge-success">Active</span>

      
</body>
</html>


<!DOCTYPE html>
<html lang="en">

<head>
	<style>
		.bg{
			background-color:rgb(122, 122, 248) ;
		}
		.ft{
			color: goldenrod;
		}
	</style>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Responsive Bootstrap 4 Admin &amp; Dashboard Template">
	<meta name="author" content="Bootlab">

	<title>ACADEMIEZ1.0 (Education Software)</title>
	<link rel="stylesheet" type="text/css" href="../static/landing/css/login.css">

	<link rel="canonical" href="https://appstack.bootlab.io/pages-sign-up.html" />
	<link rel="shortcut icon" href="../STATIC/Authentication/img/favicon.ico">

	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">

	<!-- Choose your prefered color scheme -->
	<!-- <link href="css/light.css" rel="stylesheet"> -->
	<!-- <link href="css/dark.css" rel="stylesheet"> -->

	<!-- BEGIN SETTINGS -->
	<!-- Remove this after purchasing -->
	<link class="js-stylesheet" href="../STATIC/Authentication/css/light.css" rel="stylesheet">
	<script src="../STATIC/Authntication/js/settings.js"></script>
	<!-- END SETTINGS -->
</head>
<!--
  HOW TO USE: 
  data-theme: default (default), dark, light
  data-layout: fluid (default), boxed
  data-sidebar-position: left (default), right
  data-sidebar-behavior: sticky (default), fixed, compact
-->
<div class="bg">
<body>
	<div class="main d-flex justify-content-center w-100">
		<main class="content d-flex p-0">
			<div class="container d-flex flex-column">
				<div class="row h-100">
					<div class="col-sm-10 col-md-8 col-lg-5 mx-auto d-table h-150">
						<div class="d-table-cell align-middle">

							
							<div class="card">
								<div class="card-body">
									<div class="m-sm-4">
										<form >
											<div class="overlay">
											
												<div class="con">
													<!--     Start  header Content  -->
													<header class="head-form">
													<h2>LogIn</h2>
													<!--     A welcome message or an explanation of the login form -->
													<p>login here using your username and password</p>
													</header>
													<!--     End  header Content  -->
													<div class="field-set">
													
													<!--   user name -->
														<span class="input-item">
															<i class="fa fa-user-circle"></i>
														</span>
														<!--   user name Input-->
														<input class="form-input" id="txt-input" type="text" placeholder="UserName"></div></div>
								
													
															<!--   Password -->
													
													<span class="input-ico">
														<i class= "fa fa-key"></i>
														</span>
													<!--   Password Input-->
													<input class="form-input" type="password" placeholder="Password" id="pwd"  name="password">
													
												<!--      Show/hide password  -->
													                                        
												<!--        buttons -->
												<!--      button LogIn -->
													<button class="log-in" ><a href="dashboard-default.html"> LogIn </button></a>
													</div>
												
												<!--   other buttons -->
													<div class="other">
												<!--      Forgot Password button-->
													<button class="btn submits frgt-pass"></button>
												<!--     Sign Up button -->
													<button class="btn submits sign-up">
												<!--         Sign Up font icon -->
													<i aria-hidden="true"></i>
													</button>
													
													<div class="acc">
								
													<a href="register.html">Do'n have account?</a>
													</div>
													</div>
												</div>
											</div>
										</form>


									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</main>
	</div>

	<script src="../STATIC/Authentication/js/app.js"></script>

</body>
</div>

</html>